# Dependencies
node_modules/
.venv/
venv/
vendor/

# Environment Variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Build Outputs
dist/
build/
bin/
transcoder-service-go/transcoder-service

# Locks
package-lock.json
yarn.lock
pnpm-lock.yaml
