PORT=3002
JWT_SECRET=zZ9TD7zj/U823WhrPZDTavBsyCk6RjUe6Rx1eZvpN8Y=
DATABASE_URL=postgres://user:password@localhost:5432/youtube
REDIS_URL=redis://localhost:6379
MINIO_ENDPOINT=http://storage:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_RAW_BUCKET=raw-videos
MINIO_PROCESSED_BUCKET=processed-hls
